.outside-t{
  margin-top:    @space;
}
.outside-r{
  margin-right:  @space;
}
.outside-b{
  margin-bottom: @space;
}
.outside-l{
  margin-left:   @space;
}
.outside-tb{
  .outside-t;
  .outside-b;
}
.outside-lr{
  .outside-r;
  .outside-l;
}
.outside{
  .outside-tb;
  .outside-lr;
}

.outside-min-l{
  margin-left:   @space-min;
}
.outside-min-r{
  margin-right:  @space-min;
}
.outside-min-t{
  margin-top:    @space-min;
}
.outside-min-b{
  margin-bottom: @space-min;
}
.outside-min-lr{
  .outside-min-l;
  .outside-min-r;
}
.outside-min-tb{
  .outside-min-t;
  .outside-min-b;
}
.outside-min{
  .outside-min-tb;
  .outside-min-lr;
}

.inside-t{
  padding-top:    @space;
}
.inside-r{
  padding-right:  @space;
}
.inside-b{
  padding-bottom: @space;
}
.inside-l{
  padding-left:   @space;
}
.inside-lr{
  .inside-r;
  .inside-l;
}
.inside-tb{
  .inside-t;
  .inside-b;
}
.inside{
  .inside-tb;
  .inside-lr;
}

.inside-min-t{
  padding-top:    @space-min;
}
.inside-min-r{
  padding-right:  @space-min;
}
.inside-min-b{
  padding-bottom: @space-min;
}
.inside-min-l{
  padding-left:   @space-min;
}
.inside-min-lr{
  .inside-min-r;
  .inside-min-l;
}
.inside-min-tb{
  .inside-min-t;
  .inside-min-b;
}
.inside-min{
  .inside-min-tb;
  .inside-min-lr;
}